services:
  relayer:
    image: iconcommunity/centralized-relay:${RELAYER_IMAGE_VERSION:-latest}
    restart: ${RESTART_POLICY:-unless-stopped}
    volumes:
      - ${CONFIG}/relayer:/data:Z
      - ${CONFIG_PATH:-./config.yaml}:/home/${RELAYER_USER:-relayer}/config.yaml:ro
      - relay-socket:${SOCKET_DIR:-/var/run/relayer}
    labels:
      service: "centralized-relay"
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - SOCKET_PATH=${SOCKET_DIR:-/var/run/relayer}/relay.sock
    networks:
      relayer:
  dashboard:
    image: iconcommunity/relayer-admin-dashboard:${NGINX_IMAGE_VERSION:-latest}
    restart: ${RESTART_POLICY:-unless-stopped}
    ports:
      - "${HTTP_PORT:-80}:80"
      - "${HTTPS_PORT:-443}:443"
      - "${DASHBOARD_PORT:-3000}"
    volumes:
      - ${CONFIG}/web:/config:Z
      - ${CONFIG}/web/crontabs:/var/spool/cron/crontabs:Z
      - ${CONFIG}/dashboard/cache:/usr/share/dashboard/.next/cache:Z
      - ${CONFIG}/dashboard/data:/data:Z
      - relay-socket:${SOCKET_DIR:-/var/run/relayer}
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    labels:
      service: "relayer-admin-dashboard"
    environment:
      - ENABLE_LETSENCRYPT
      - DASHBOARD_PORT
      - LETSENCRYPT_USE_STAGING=${LETSENCRYPT_USE_STAGING:-1}
      - LETSENCRYPT_DOMAIN
      - LETSENCRYPT_EMAIL
      - NEXT_PUBLIC_API_RETRY_INTERVAL_IN_SECONDS=${NEXT_PUBLIC_API_RETRY_INTERVAL_IN_SECONDS:-5}
      - NEXT_PUBLIC_API_MAX_RETRY=${NEXT_PUBLIC_API_MAX_RETRY:-5}
      - NEXTAUTH_URL
      - NEXTAUTH_SECRET
      - NEXT_XCALLSCAN_BASE_URL=${NEXT_XCALLSCAN_BASE_URL:-https://xcallscan.xyz/api}
      - NEXT_RELAYER_SOCKET_PATH=${SOCKET_DIR:-/var/run/relayer}/relay.sock
      - NEXT_RELAYERS_MAP_FILE_PATH=${NEXT_RELAYERS_MAP_FILE_PATH:-/data/database/relayers.json}
      - NEXT_USERS_MAP_FILE_PATH=${NEXT_USERS_MAP_FILE_PATH:-/data/database/users.json}
      - DEAFULT_ADMIN_EMAIL
      - DEAFULT_ADMIN_PASSWORD
    depends_on:
      - relayer
    networks:
      relayer:
networks:
  relayer:

volumes:
  relay-socket:
